
[Interface]
PrivateKey = <CUSTOMER_PRIVATE_KEY_GENERATED_ON_THIS_SERVER>
Address = <CUSTOMER_PEER_TUNNEL_IP>/32

[Peer]
PublicKey = <OMEGA_SERVER_PUBLIC_KEY>
Endpoint = <OMEGA_VPN_PUBLIC_IP>:<WG_LISTEN_PORT>
AllowedIPs = <WG_SERVER_TUNNEL_IP>/32
PersistentKeepalive = 25
